@import "../fonts.css" all;

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin-top: 40px;
    width: 75%;
    border-radius: 40px;

    &__home {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        color: black;
    }

    &__name {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }

    &__form {
        &-add {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}