<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO-LIST</title>
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/index/index.css" type="text/css">
</head>
<body>
    <div class="index">
        <div class="index__login">
            <a href="/auth/login/" class="index__btn index__login-btn index__btn-login">ВОЙТИ</a>
            <a href="/auth/signup/" class="index__btn index__login-btn">ЗАРЕГЕСТРИРОВАТЬСЯ</a>
        </div>
        <h2 class="index__header">Выберите действие:</h2>
        <a href="/todo/" class="index__btn">TODO-LIST</a>
    </div> 
</body>
</html>
