@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.main {
    // height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;
}

.switch-translate {
    display: flex;
    justify-content: center;
    width: 100%;
}
.switch {
    background-color: royalblue;
    width: 500px;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;

    &-select {
        background: none;
        border: none;
        cursor: pointer;
        height: 100%;

        &:focus {
            outline: none;
        }
    }
}
.lang-header {
    color: whitesmoke;
}
.first-lang {
    border-top-left-radius: 30px;
}
.second-lang {
    border-top-right-radius: 30px;
}

.translator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.translate {
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__field {
        width: 500px;
        height: 250px;
        background-color: gainsboro;
        margin: 0;
        padding: 0;
        border: none;
        resize: none;
        padding: 30px;
        box-sizing: border-box;
    }

    &__container {
        display: flex;
    }

    &__btn {
        outline: none;
        text-align: center;
        border-radius: 20px;
        background: #fff;
        border: 2px solid royalblue;
        color: royalblue;
        letter-spacing: 1px;
        text-shadow: 0;
        cursor: pointer;
        font-size: 20px;
        padding: 10px;
        margin-top: 20px;

        &:focus {
            outline: none;
        }

        &:hover {
            color:white;
            background: royalblue;
          }
    }
}

.questions {
    border-bottom-left-radius: 30px;
    border-right: 2px solid rgba($color: #000000, $alpha: 0.1);

    &:focus {
        outline: none;
    }
}
.answer {
    border-bottom-right-radius: 30px;
}