@import "../fonts.css" all;

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    &__header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 48px;
    }

    &__btn {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 24px;
        border: none;
        border-radius: 25px;
        padding: 15px;
        background-color: royalblue;
        color: whitesmoke;
        cursor: pointer;
        text-decoration: none;
    }
}